[package]
name = "cube-core"
version = "0.1.0"
edition.workspace = true
license.workspace = true
description.workspace = true

[dependencies]
serde = { workspace = true }
thiserror = { workspace = true }
